!!! 5
%html
  %head
    %title Danial Pearce - Blog
    %link{rel: :stylesheet, href: '/css/screen.css', type: 'text/css', media: :screen, charset: 'utf-8'}
  %body
    #header
      %h1 My blog
    #body
      != yield
    #footer
