%h1 Not found

%p
  Sorry, the page you were looking for could not be found. Are you sure you
  spelled the address correctly? If you came to this page by following a link,
  it had an outdated or mistyped address, and you may want to notify the author
  of that page that one of his links is not working.

%p
  You may want to
  %a{href: '/'} go to the homepage
  to find what you were looking for, or to find something else you might find
  interesting. Else, you could also
  %a{href: '#js', onclick: 'history.go(-1); return false;'} go back
  to the previous page.
