- @posts.each do |post|
  %h2= post.title
  %span.tags
    Posted in
    - post.tags.map do |tag|
      %a{href: "/tags/#{tag.name}"}= tag.name
  %p.summary= post.summary
  %p.metadata
    Posted
    %abbr{:title => date_iso8601(post.created_at)}= date_humanized(post.created_at) + '.'
  %p.permalink
    %a{href: url_for(:show, post)} permalink
  %hr
